<li class="level-<%= entry.level || 0 %>">
    <% if(entry.path) { %>
    <a class="block py-1 border-r-4 pr-2 hover:border-green <%= path === entry.path ? 'border-green text-green' : 'border-green-lightest text-blue-dark' %> no-underline leading-tight hover:underline" href="/<%= entry.path %>">
        <%= entry.title %>
    </a>
    <% } else if(entry.title) { %>
    <span><%= entry.title %></span>
    <% } %>

    <% if(entry.children) { %>
    <ul class="list-reset">
        <% entry.children.forEach((item) => { %>
        <%- include('_partials/categories', { entry: item }) %>
        <% }) %>
    </ul>
    <% } %>
</li>