<% if(entry.path) { %>
<option value="<%= lang(null, entry.slug) %>" <%= slug === entry.slug ? 'selected' : '' %>>
    <%= entry.title %>
</option>
<% } else if(entry.children) { %>
<% if (entry.title) { %>
<optgroup label="<%= entry.title %>">
    <% } %>
    <% entry.children
            .filter(item => item.locale != (locale || 'en'))
            .sort(sortCategories)
    .forEach((item) => { %>
    <%- include('_partials/categories_select', { entry: item }) %>
    <% }) %>
    <% if (entry.title) { %>
</optgroup>
<% } %>
<% } %>
