<li class="level-<%= entry.level || 0 %>">
    <% if(entry.path) { %>
    <a class="-mr-1 block py-1 border-r-4 pr-2 hover:border-green <%= current.slug === entry.slug ? 'border-green text-green' : 'border-green-lightest text-blue-dark' %> no-underline leading-tight hover:underline"
       href="<%= meta.lang(current, null, entry.slug) %>">
        <%= entry.title %>
    </a>
    <% } else if(entry.title) { %>
    <span><%= entry.title %></span>
    <% } %>

    <% if(entry.children) { %>
    <ul class="list-reset">
        <% entry.children
                .filter(item => item.locale ? item.locale === current.locale : true)
                .sort(meta.sortCategories)
        .forEach((item) => { %>
        <%- include('_partials/categories', { entry: item }) %>
        <% }) %>
    </ul>
    <% } %>
</li>