<div class="bg-blue-dark border-t-8 border-green">
    <div class="container flex items-center flex-wrap px-4 md:px-0 mx-auto">
        <a href="/" class="w-1/4 flex-1">
            <div class="relative w-16 h-16">
                <img class="w-16 h-16 absolute pin"
                     src="https://art.nativescript-vue.org/NativeScript-Vue-White-Green.svg"
                     alt="NativeScript-Vue Logo">
                <img class="w-16 h-16 absolute pin transition-all-ease hover:opacity-0"
                     src="https://art.nativescript-vue.org/NativeScript-Vue-Green-White.svg"
                     alt="NativeScript-Vue Logo">
            </div>
        </a>
        <div class="w-auto text-center relative">
            <input class="w-full md:w-48 px-4 py-2 text-blue-lightest bg-blue-light rounded-full"
                   type="search"
                   aria-label="Search"
                   placeholder="Search coming soon."
                   disabled
            >

            <div class="hidden absolute ml-2 mt-2">
                <div class="border bg-white rounded shadow w-48"></div>
            </div>
        </div>

        <!-- Bars -->
        <div class="ml-4 md:hidden text-right" @click="navOpen = !navOpen">
            <div class="inline-block">
                <div class="w-6 h-2px bg-white mb-1"></div>
                <div class="w-6 h-2px bg-white mb-1"></div>
                <div class="w-6 h-2px bg-white"></div>
            </div>
        </div>

        <!-- Nav -->
        <div :class="{ hidden: isMobile && !navOpen, flex: isMobile && navOpen }"
             class="flex-col md:flex-row w-full md:w-auto">
            <a href="<%= lang(null, 'docs/quick-start') %>" class="no-underline text-blue-lightest md:ml-6 mr-4 py-4">Quick Start</a>
            <a href="<%= lang(null, 'docs/about-nativescript-vue') %>" class="no-underline text-blue-lightest mr-4 py-4">Docs</a>
            <a href="/<%= collections.blog[0].path %>" class="no-underline text-blue-lightest mr-4 py-4">Blog</a>
            <div class="inline text-blue-lightest mr-4 py-4 relative group">
                Community

                <div class="pl-4 mt-3 md:pl-0 md:hidden group-hover:block hover:block md:absolute md:bg-white md:shadow md:rounded md:pin-r overflow-hidden">
                    <div class="flex flex-col">
                        <a href="https://github.com/rigor789/nativescript-vue"
                           target="_blank"
                           class="no-underline text-blue-lightest md:text-blue-dark hover:bg-green hover:text-white px-4 py-2">GitHub</a>
                        <a href="https://developer.telerik.com/wp-login.php?action=slack-invitation"
                           target="_blank"
                           class="no-underline text-blue-lightest md:text-blue-dark hover:bg-green hover:text-white px-4 py-2">Slack</a>
                    </div>
                </div>
            </div>
            <div class="inline text-blue-lightest py-4 relative group">
                <svg role="img" aria-label="Language" class="w-4 h-4 fill-current -mb-px" viewBox="0 0 20 20"
                     version="1.1" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"
                     style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"><path
                            d="M20,10c0,-5.532 -4.488,-10 -10,-10c-5.509,0 -10,4.465 -10,10c0,5.522 4.477,10 10,10c5.52,0 10,-4.475 10,-10Zm-1.678,2.581l-4.01,0c0.277,-1.73 0.266,-3.497 0.002,-5.162l4.008,0c0.517,1.67 0.517,3.492 0,5.162Zm-8.322,6.064c-1.239,-1.118 -2.183,-2.803 -2.72,-4.774l5.44,0c-0.537,1.971 -1.481,3.656 -2.72,4.774Zm-3.006,-6.064c-0.29,-1.669 -0.297,-3.449 0.001,-5.162l6.01,0c0.298,1.712 0.291,3.492 0.001,5.162l-6.012,0Zm3.006,-11.225c1.353,1.221 2.24,3.022 2.718,4.773l-5.436,0c0.48,-1.76 1.37,-3.556 2.718,-4.773Zm7.804,4.773l-3.75,0c-0.441,-1.78 -1.184,-3.375 -2.173,-4.635c2.588,0.569 4.762,2.295 5.923,4.635Zm-9.685,-4.635c-0.989,1.26 -1.732,2.855 -2.173,4.635l-3.75,0c1.161,-2.34 3.335,-4.066 5.923,-4.635Zm-6.441,5.925l4.008,0c-0.264,1.665 -0.275,3.432 0.002,5.162l-4.01,0c-0.517,-1.67 -0.517,-3.492 0,-5.162Zm0.518,6.452l3.755,0c0.443,1.781 1.188,3.38 2.17,4.636c-2.602,-0.572 -4.77,-2.308 -5.925,-4.636Zm9.683,4.636c0.982,-1.256 1.727,-2.855 2.17,-4.636l3.755,0c-1.157,2.332 -3.327,4.065 -5.925,4.636Z"
                            style="fill-rule:nonzero;"/></svg>
                <span class="md:hidden">Language</span>

                <div class="hidden pl-4 mt-3 md:pl-0 md:hidden group-hover:block hover:block md:absolute md:bg-white md:shadow md:rounded md:pin-r overflow-hidden">
                    <div class="flex flex-col">
                        <a href="<%= lang('en') %>"
                           class="no-underline text-blue-lightest md:text-blue-dark hover:bg-green hover:text-white px-4 py-2">en</a>
                        <a href="<%= lang('hu') %>"
                           class="no-underline text-blue-lightest md:text-blue-dark hover:bg-green hover:text-white px-4 py-2">hu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
