<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= sitename %></title>
</head>
<body>
<%- contents %>

<div>
    <%- include('_partials/links', { posts: collections.blog }) %>
    <%- include('_partials/links', { posts: collections.docs }) %>
</div>

<% if(typeof contributors !== 'undefined') { %>
<%- include('_partials/contributors', contributors) %>
<% } %>
</body>
</html>