<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= sitename %></title>
</head>
<body>

<div id="app">
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>
        <div class="bg-grey-lighter md:hidden">
            <div class="container mx-auto p-4">
                <select v-nav class="w-full p-2" title="Navigation">
                    <%- include('_partials/categories_select', { entry: { children: docs_categories } }) %>
                </select>
            </div>
        </div>

        <div class="md:bg-docs-gradient min-h-screen">
            <div class="container mx-auto flex">
                <div class="hidden md:w-1/4 md:block border-r-4 min-h-full">
                    <div class="pl-4 md:pl-0 py-4 md:py-8">
                        <ul id="docs-toc" class="list-reset">
                            <%- include('_partials/categories', { entry: { children: docs_categories } }) %>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-3/4 bg-white min-h-screen">
                    <div class="p-4 md:pl-8">
                        <% if (typeof title !== 'undefined') { %>
                        <div class="text-blue-dark text-4xl mt-4"><%= title %></div>
                        <hr class="border-t-2 border-blue-lighter w-24 mx-0 mb-2">
                        <% } %>
                        <% if(typeof authors !== 'undefined') { %>
                        <div class="text-blue-light mb-8">
                            <%= moment(date).format('MMMM DD, YYYY') %>
                            by <%- authors.map(author => `<a href="https://github.com/${author}" target="_blank" class="no-underline text-green hover:text-blue-dark">${author}</a>`).join(', ') %>
                        </div>
                        <% } %>

                        <div class="markdown-body">
                            <%- contents %>
                        </div>

                        <% if(typeof next !== 'undefined') { %>
                        <%- include('_partials/next', { next }) %>
                        <% } %>

                        <% if (typeof contributors !== 'undefined' ) { %>
                        <%- include('_partials/contributors', { contributors }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="/main.js"></script>
</body>
</html>