<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= meta.sitename %></title>
</head>
<body>

<div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
    <!--<QuickStart />-->
    <%- include('_partials/header') %>

    <div class="min-h-screen">
        <%- current.contents %>
    </div>
</div>

<%- include('_partials/footer') %>
</body>
</html>