<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= sitename %></title>
</head>
<body>

<div id="app">
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>

        <div class="min-h-screen">
            <div class="container mx-auto flex">
                <div class="w-full bg-white min-h-screen">
                    <div class="mt-8">
                        <% if (typeof title !== 'undefined') { %>
                        <div class="text-blue-dark text-4xl mt-4"><%= title %></div>
                        <hr class="border-t-2 border-blue-lighter w-24 mx-0 mb-8">
                        <% } %>

                        <div class="markdown-body">
                            <%- contents %>
                        </div>

                        <% if (typeof contributors !== 'undefined') { %>
                        <%- include('_partials/contributors', { contributors }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script src="/main.js"></script>
</body>
</html>