<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= meta.sitename %></title>
</head>
<body>

<div id="app">
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>

        <div class="min-h-screen">
            <div class="container mx-auto flex">
                <div class="w-full bg-white min-h-screen">
                    <div class="mt-8">
                        <% if (current.title) { %>
                        <div class="text-blue-dark text-4xl mt-4"><%= current.title %></div>
                        <hr class="border-t-2 border-blue-lighter w-24 mx-0 mb-8">
                        <% } %>

                        <div class="markdown-body">
                            <%- current.contents %>
                        </div>

                        <% if (current.contributors) { %>
                        <%- include('_partials/contributors', { current.contributors }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('_partials/footer') %>
</body>
</html>