<!doctype html>
<html lang="en">
<head>
    <%- include('_partials/meta') %>
    <title><%= meta.sitename %></title>
</head>
<body>

<div id="app">
    <div class="font-sans leading-normal" :class="{'max-h-screen': modalVisible, 'overflow-hidden': modalVisible}">
        <!--<QuickStart />-->
        <%- include('_partials/header') %>
        <%- include('_partials/navselect', { title: 'Recent posts', items: meta.collections.blog }) %>


        <div class="md:bg-docs-gradient min-h-screen">
            <div class="container mx-auto flex">
                <div class="hidden md:w-1/4 md:block border-r-4 min-h-full">
                    <div class="pl-4 md:pl-0 pt-4 md:pt-8">
                        <div class="uppercase tracking-wide text-blue-light text-sm mb-4">Recent posts</div>
                        <ul class="list-reset">
                            <% meta.collections.blog.forEach((item) => { %>
                            <li>
                                <a class="-mr-1 block border-r-4 py-1 pr-2 hover:border-green no-underline leading-tight hover:underline <%= current.path === item.path ? 'border-green text-green' : 'border-green-lightest text-blue-dark' %>"
                                   href="/<%= item.path %>">
                                    <%= item.title %>
                                </a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-3/4 bg-white min-h-screen">
                    <div class="pl-8 py-4 pr-4">
                        <% if (current.title) { %>
                        <div class="text-blue-dark text-4xl mt-4"><%= current.title %></div>
                        <hr class="border-t-2 border-blue-lighter w-24 mx-0 mb-2">
                        <% } %>
                        <% if(current.authors) { %>
                        <div class="text-blue-light mb-8">
                            <%= meta.moment(current.date).format('MMMM DD, YYYY') %>
                            by <%- current.authors.map(author => `<a href="https://github.com/${author}" target="_blank" rel="noopener" class="no-underline text-green hover:text-blue-dark">${author}</a>`).join(', ') %>
                        </div>
                        <% } %>

                        <div class="markdown-body">
                            <%- current.contents %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('_partials/footer') %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>